
p
{
  display: none;
}

body.en > p[lang=en] 
{
  display: inline-block;
}

body.de > p[lang=de] 
{
  display: inline-block;
}
 
body.fr > p[lang=fr] 
{
  display: inline-block;
}

body.it > p[lang=it] 
{
  display: inline-block;
}

body.es > p[lang=es] 
{
  display: inline-block;
}


button
{
  background-color: transparent;
  border: none;"
}
