.containerDiv
{
  width: 95%;


  clear: both;
}

.float-left {
    float: left;

}

figure
{
  width: 25%;

}

video
{
  height: 200px;
}

.two
{
  float: left;
}

.float-right {
  float: right;
  text-align: center;
}

.clear {
  clear: both;
}

.center
{
  margin-left: auto;
  margin-right: auto;
}

figcaption
{
  text-align: center;
}

