.parentDiv
{
  display: inline-block;
  width: 90%;
  margin: 0 auto;

  clear: both;
}

.twoChildDivs
{
  float: left;
  width: 50%;
}

.threeChildDivs
{
  float: left;
  width: 33%;
}

video
{
  height: 230px;
}


figcaption
{
  text-align: center;
}


iframe {
  width: 90%;
  height: 500;
  overflow:hidden;
}

